<app-navbar></app-navbar>

<header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h1 class="mb-5">FREE, FAST, SIMPLE AND FULLY MANAGED</h1>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                <form>
                    <div class="form-row">
                        <div class="col-12 col-md-3 " style="margin-left:25px ">
                            
                        </div>
                        <div class="col-12 col-md-3" style="margin-left:50px ">
                            <button type="submit" routerLink="/pricing"
                                class="btn btn-block btn-lg btn-primary">Pricing!</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <br><br>
    <h1 style="text-align: center;">How Does it Work ?</h1>
    <br><br><br><br>
    <div class="row">
        <div class="col-md-4">
            <h2>First Step</h2>
            <p> Create An Account by Choosing one of our pricies then Log in to your account .</p>
           
        </div>
        <div class="col-md-4">
            <h2>Second Step</h2>
            <p>Choose our Service Convertisseur then Drop your File their and wait for the magic to happen</p>
            
        </div>
        <div class="col-md-4">
            <h2>Third Step</h2>
            <p>Go to your platform and listen to your files speaking to you also you can download them </p>
            
        </div>
    </div>
<br>
    <hr>

    <!--Section: Features v.1-->
    <section class="text-center">

        <!--Section heading-->
        <h2 class="h1 py-5 font-weight-bold">Why is it so great?</h2>
        <!--Section description-->
        <p class="px-5 mb-5 pb-3 lead grey-text">Our Company provides many things to make your life easier </p>

        <!--Grid row-->
        <div class="row">

            <!--Grid column-->
            <div class="col-md-4">
                <mdb-icon fas icon="chart-area" size="3x" class="red-text"></mdb-icon>
                <h5 class="font-weight-bold mt-3">Analytics</h5>
                <p class="grey-text">Statistics and Logs of your Usage
                </p>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-4">
                <mdb-icon fas icon="book" size="3x" class="cyan-text"></mdb-icon>
                <h5 class="font-weight-bold mt-3">Tutorials</h5>
                <p class="grey-text">Documentation of the use of our service
                </p>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-4">
                <mdb-icon far icon="comments" size="3x" class="orange-text"></mdb-icon>
                <h5 class="font-weight-bold mt-3">Support</h5>
                <p class="grey-text">We provide you great support just contact us !
                </p>
            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

    </section>
    <!--Section: Features v.1-->
</div><br><br>
<app-footer></app-footer>